<div id="landing-header">
    <img alt="DB Wiz" id="logo-landing" src="../assets/dbwiz-logo-word.png">
    <h2>Transformez vos idées en réalité.</h2>
    <div id="landing-buttons">
        <a href="/database/generate">
            <h3>
                "J’ai mon schema"
            </h3>
            <p>
                Créez votre base de données SQL ou NoSQL en quelques clics !
            </p>
        </a>
        <a href="/database/build">
            <h3>
                "Je n’ai pas de schema"
            </h3>
            <p>
                Construisons votre base de donnée ensemble !
            </p>
        </a>
    </div>
</div>
<section id="about">
    <div id="what">
        <h2>Qu’est-ce que DB Wiz ?</h2>
        <p>
            Vous en avez marre de passer des heures à concevoir des schémas de bases de données ?
            DB Wiz est là pour vous simplifier la vie !

            Créez des structures de bases de données (SQL, NoSQL) en quelques secondes, à partir d'une
            simple description en langage naturel. Laissez l'intelligence artificielle faire le travail à votre place,
            et concentrez-vous sur ce qui compte vraiment : développer votre projet.
        </p>
    </div>
    <div id="why">
        <h2>Pourquoi choisir DB Wiz ?</h2>
        <div id="why-list">
            <div class="why-item">
                <div class="why-item-title">
                    <img src="../assets/svg/rapid.svg" alt="Rapide et intuitif">
                    <h3>Rapide et intuitif</h3>
                </div>
                <p>Plus besoin de lignes de code complexes. Décrivez votre besoin, et DB Wiz s'occupe du reste.</p>
            </div>
            <div class="why-item">
                <div class="why-item-title">
                    <img src="../assets/svg/brain.svg" alt="Alimenté par l'IA">
                    <h3>Alimenté par l'IA</h3>
                </div>
                <p>Des schémas optimisés et prêts à l'emploi, générés par des modèles de pointe (ChatGPT, DeepSeek, etc.).</p>
            </div>
            <div class="why-item">
                <div class="why-item-title">
                    <img src="../assets/svg/screwdriver.svg" alt="Flexible">
                    <h3>Flexible</h3>
                </div>
                <p>Exportez vos schémas en SQL, JSON ou d'autres formats, et intégrez-les directement dans vos projets.</p>
            </div>
            <div class="why-item">
                <div class="why-item-title">
                    <img src="../assets/svg/puzzle.svg" alt="Idéal pour tous">
                    <h3>Idéal pour tous</h3>
                </div>
                <p>Développeurs, startups, étudiants... DB Wiz s'adapte à vos besoins.</p>
            </div>
        </div>
    </div>
</section>
