<section id="build-container">
    <div class="build-step">
        <form [formGroup]="buildForm">
            @if (currentStep === 1) {
                <div class="form-group">
                    <h2>1<sup>ère</sup> étape : Le contexte</h2>
                    <p>Quel est le but de votre base de données (pour un site web, une application, etc.) ?<br>Donnez-nous
                        une description de votre futur projet.</p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <textarea placeholder="Votre projet..." formControlName="description" matInput required rows="5"></textarea>
                    </mat-form-field>
                    <div class="step-buttons">
                        <button class="next-btn" mat-raised-button color="primary" (click)="nextStep()" [disabled]="!description.valid">
                            Suivant
                            <mat-icon matSuffix class="password-toggle">
                                navigate_next
                            </mat-icon>
                        </button>
                    </div>
                </div>
            }
            @if (currentStep === 2) {
                <div class="form-group">
                    <h2>2<sup>ème</sup> étape : Les contraintes</h2>
                    <p>Quelles sont les contraintes de votre base de données (nombre de tables et/ou de colonnes,
                        performance de la base de données, etc.) ?</p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <textarea placeholder="Mes contraintes..." formControlName="contrainte" matInput required rows="5"></textarea>
                    </mat-form-field>
                    <div class="step-buttons">
                        <button mat-raised-button color="primary" (click)="previousStep()">
                            Précédent
                            <mat-icon matSuffix class="password-toggle">
                                navigate_before
                            </mat-icon>
                        </button>
                        <button class="next-btn" mat-raised-button color="primary" (click)="nextStep()"
                                [disabled]="!contrainte.valid">
                            Suivant
                            <mat-icon matSuffix class="password-toggle">
                                navigate_next
                            </mat-icon>
                        </button>
                    </div>
                </div>
            }
            @if (currentStep === 3) {
                <div class="form-group">
                    <h2>3<sup>ème</sup> étape : Le langage</h2>
                    <p>Quel langage de base de données souhaitez-vous utiliser ?</p>
                    <select formControlName="langage" required (change)="onLangageChange($event)">
                        <option value="" disabled selected>Choisissez un langage</option>
                        <option *ngFor="let langage of langages" [value]="langage">{{ langage }}</option>
                    </select>
                    <div class="step-buttons">
                        <button mat-raised-button color="primary" (click)="previousStep()">
                            Précédent
                            <mat-icon matSuffix class="password-toggle">
                                navigate_before
                            </mat-icon>
                        </button>
                        <button class="next-btn" mat-raised-button color="primary" (click)="generate()"
                                [disabled]="!contrainte.valid">
                            Générer
                            <mat-icon matSuffix class="password-toggle">
                                check
                            </mat-icon>
                        </button>
                    </div>
                </div>
            }
        </form>
    </div>
</section>