<header [ngClass]="{'scrolled': hasScrolled}" *ngIf="!show">
    <div id="header-container">
        <div id="logo">
            <a href="/">
                <img src="../assets/dbwiz-logo-long.png" alt="DB Wiz">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                @if (isLoggedIn) {
                    <li><a href="/account">Mon compte</a></li>
                } @else if (!isLoggedIn) {
                    <li><a href="/auth/login">Se connecter</a></li>
                }
            </ul>
        </nav>
    </div>
</header>