<div id="auth-container">
    <div id="auth-div">
        <a href="/" id="auth-logo">
            <img alt="" src="/assets/dbwiz-logo-long.png">
        </a>
        <h1>Réinitialisation du mot de passe</h1>
        <p>Entrer votre adresse email pour réinitialiser votre mot de passe.</p>
        <form [formGroup]="resetForm">
            <div class="form-group">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required>
                    <mat-icon matSuffix>email</mat-icon>
                    @if (email?.errors?.['email'] && email?.touched) {
                        <mat-error>Veuillez entrer une adresse email valide.</mat-error>
                    }
                    @if (email?.errors?.['required'] && email?.touched) {
                        <mat-error>Ce champ est requis.</mat-error>
                    }
                </mat-form-field>
                <button type="submit" value="Se connecter" [disabled]="resetForm.invalid">
                    Continuer
                </button>
                <div id="auth-links">
                    <a href="/auth/login">Se connecter</a>
                    <a href="/auth/register">Créez un compte</a>
                </div>
            </div>
        </form>
    </div>
</div>
