<div id="chat-container">
    <div id="chat-header">
        <h2>DB Wiz AI</h2>
    </div>
    <div id="chat-conversation" *ngFor="let msg of messages">
        <div [ngClass]="msg.role === 'ai' ? 'received' : 'sent'">
            <div class="chat-img">
                @if (msg.role === 'ai') {
                    <img alt="DB Wiz logo chat" src="../assets/dbwiz-logo.png"/>
                } @else {
                    <mat-icon>person</mat-icon>
                }
            </div>
            <p>{{ msg.content }}</p>
        </div>
    </div>
    <form [formGroup]="chatForm" id="chat-form">
        <div id="chat-form-header">
            <p>Améliorez votre base de données</p>
        </div>
        <div id="chat-form-input">
            <mat-form-field appearance="outline" class="example-full-width">
            <textarea formControlName="message" matInput placeholder="Écrivez votre message..." required
                      rows="3"></textarea>
            </mat-form-field>
            <button (click)="sendMessage()" type="button">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</div>