$main-color: #8C52FF;
$main-color-2: #a476ff;
$second-color: #CB6CE6;
$third-color: #ffdd54;
$black-color: #3b3b3b;
$black-gray-color: #3e3e3e;
$black-pink-color: #45244d;
$white-color: #F6F6F6;
$FFF: #FFFFFF;
$white-pink-color: #fbf1ff;
$gray-color: #B3B3B3;
$code-block: #282a36;

#chat-container {
    width: 100%;
    box-sizing: border-box;

    #chat-header {
        padding: 8px 16px;
        background-color: $main-color-2;
        color: $white-color;

        h2 {
            font-size: 1.6em;
            font-weight: 700;
            margin-block: 10px;
        }
    }

    #chat-conversation {
        padding: 16px;
        height: 472px;
        overflow: scroll;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1659px) {
            height: 440px;
        }

        .sent, .received {
            margin-block: 10px;
            width: 90%;
            display: flex;
            gap: 10px;
            font-size: 1em;

            .chat-img {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                background-color: $main-color-2;
                border-radius: 100%;

                mat-icon {
                    width: 50px;
                    height: 45px;
                    text-align: center;
                    font-size: 40px;
                }

                img {
                    width: 50px;
                    height: 45px;
                }
            }

            p {
                border-radius: 5px;
                line-height: 1.5em;
            }
        }

        .sent {
            align-self: flex-end;
            flex-direction: row-reverse;

            p {
                text-align: right;
                padding: 16px;
                background-color: $main-color;
                color: $white-pink-color;
            }
        }

        .received {
            align-self: flex-start;
            flex-direction: row;

            p {
                text-align: left;
                padding: 16px;
                background-color: #7b6995;
                color: $white-pink-color;
            }
        }
    }

    #chat-form {
        width: 100%;

        #chat-form-header {
            padding: 18px;
            box-sizing: border-box;
            background-color: $white-color;
            border-top: 1px solid $black-pink-color;
            border-bottom: 1px solid $black-pink-color;

            p {
                font-size: 1em;
                color: $black-pink-color;
            }
        }

        #chat-form-input {
            display: flex;
            flex-direction: row;
            padding: 12px 16px 12px 16px;

            mat-form-field {
                width: 100%;
                border-radius: 5px;
                background-color: $white-color;
                padding: 0;
                textarea {
                    padding: 0 12px 0 12px;
                    resize: none;
                }
            }

            button {

                mat-icon {

                }
            }
        }
    }
}