.code-container {
    display: flex;
    flex-direction: row;
    height: 470px;
    position: relative;
    overflow: hidden;
    min-height: 150px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    .app-ace-editor {
        width: 100%;
        height: 100%;
    }
}